body {
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(202, 196, 196);
    height: 86px;
    padding: 0 90px;

    .demo-logo {
        display: flex;
        align-items: center;
        gap: 3px;

        img {
            width: 44px;
            height: 44px;
        }

        h1 {
            color: #8CB7F5;
            font-size: 20px;
            font-weight: 700;
        }
    }

    .search-bar-navbar {
        width: 39%;
        font-size: 16px;
        font-weight: 400;
    }

    .leftside-navbar {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    .card-leftside {
        height: 41px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        font-size: 16px;

        span {
            font-size: 10px;
            font-weight: 400;
        }
    }

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(202, 196, 196);
    height: 56px;
    padding: 0 90px;

    .right-nav{
        width: 45%;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        p{
            color: #1C1C1C;
            font-size: 14px;
            font-weight: 500;
        }
    }

    .left-nav{
        width: 18%;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        p{
            color: #1C1C1C;
            font-size: 14px;
            font-weight: 500;
        }
    }
}