.first-section-detail {
    background-color: red;
    height: 100vh;
    display: flex;
    border: 1px solid #DEE2E7;
    border-radius: 6px;
    padding: 19px;
    gap: 12px;

    .sub-container1{
        background-color: #005ADE;
        width: 35%;
    }

    .sub-container2{
        background-color: antiquewhite;
        width: 40%;

        .Mens{
            font-size: 20px;
            font-weight: 600;
            color: #1C1C1C;
        }

        .sold{
            display: flex;
            gap: 12px;
        }
    }

    .sub-container3{
        background-color: aqua;
        width: 25%;
    }
}

.second-section-detail {
    display: flex;
    gap: 12px;

    .left-second-section-detail {
        width: 75%;
    }

    .right-second-section-detail {
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px;
        border: 1px solid #DEE2E7;
        border-radius: 12px;
        background-color: #ffffffff;

        .you {
            font-weight: 600;
        }

        .men {
            .men-img {
                border: 1px solid #DEE2E7;
                border-radius: 5px;
                height: 80px;
                width: 120px;
                padding: 0 12px;
                display: flex;
                align-items: center;

            }

            .Blazers {
                color: #8B96A5;
            }
        }

        .men:hover {
            cursor: pointer;
            transform: translateY(-5px);
        }
    }
}

.discription {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
        color: #505050;
    }

    .some {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}

.third-section-detail {
    .related-product {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .Related {
            color: #1C1C1C;
            font-weight: 600;
            font-size: 20px;
        }

        .products {
            display: flex;
            gap: 1em;

            .sub-products{
                width: 16.66%;
                display: flex;
                flex-direction: column;
                gap: 12px;

                img{
                    width: 172px;
                    height: 172px;
                }

                .Xiaomi{
                    color: #8B96A5;
                }
            }
        }
    }
}

